<div>
  <form action="/answer" method="get">
    <div id="q1">
      <input type="text" name="question" placeholder="Tell him">
    </div>
    <div id="q2">
      <input type="submit">
    </div>
  </form>
</div>
